# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.cache/
.tmp/

# Builds
dist/
build/

# Node
node_modules/

# Misc
*.local
